@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="mx-auto text-center center" style="margin-top:150px; margin-bottom:150px;">
    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">.</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-danger" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-warning" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-info" role="status">
        <span class="sr-only"></span>
    </div>
    <div class="spinner-grow text-dark" role="status">
        <span class="sr-only">Loading...</span>
    </div>

    <div class="text-center center">
        <h2>Loading...</h2>
    </div>
</div>