@page "/public/authors"
@using PersonalLibrary.Shared



@inherits AuthorsPublicLogic
    <div class="container">
        <h1>Available authors</h1>

        <p>Available main data added by the community or by a few users</p>

        @if (!authors.Any())
        {

            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">.</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only"></span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        }
        else
        {
            //something
            @*
            <ListUl Context="a" CollectionItems="@authors">
                <Name>@a.Name</Name>
            </ListUl> *@

        }
    </div>