@inherits BlazorLayoutComponent
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;

@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper
@inject AppState State;


<nav>
    <NavMenu bind-UserChanged="@userChanged" />
</nav>

<main role="main">
    <div class="container main">
        <div class="content">
            @Body
        </div>
    </div>
</main>


<footer class="footer">
    <div class="separator"></div>
    <div class="container">
        <span class="text-muted">Developed by <a href="http://www.mayaleh.cz" target="_blank">Salim Mayaleh</a></span>
    </div>
    <div class="separator"></div>
</footer>

@functions
{
    //public RenderFragment Body { get; set; }
    [Parameter] LocalStorage storage { get; set; }

    bool userChanged = false;

    protected override void OnParametersSet()
    {
        userChanged = true;
        base.OnParametersSet();
        Console.WriteLine("State has change");
        StateHasChanged();
        //userChanged = false;
    }

}