@inherits BlazorLayoutComponent
@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;

@inject LocalStorage Storage
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper



<nav>
    <NavMenu />
</nav>

<main role="main">
    <div class="container main">
        <div class="content">
            @Body
        </div>
    </div>
</main>


<footer class="footer">
    <div class="separator"></div>
    <div class="container">
        <span class="text-muted">Developed by <a href="http://www.mayaleh.cz" target="_blank">Salim Mayaleh</a></span>
    </div>
    <div class="separator"></div>
</footer>
@functions{
    //Alternativ extention to manage browser storage data and include usefull methods: https://github.com/floreseken/BlazorExtensions
    //read cookie from IHttpContextAccessor
    //string cookieValueFromContext = _httpContextAccessor.HttpContext.Request.Cookies["key"];

    //read cookie from Request object
    //string cookieValueFromReq = Request.Cookies["Key"];
}

<footer>

</footer>