@inherits BlazorLayoutComponent

<nav>
    <NavMenu/>
</nav>

<main role="main">
    <div class="container main">
        <div class="content">
            @Body
        </div>
    </div>
</main>


<footer class="footer">
    <div class="separator"></div>
    <div class="container">
        <span class="text-muted">Developed by <a href="http://www.mayaleh.cz" target="_blank">Salim Mayaleh</a></span>
    </div>
    <div class="separator"></div>
</footer>

@functions
{
    //public RenderFragment Body { get; set; }
    
    protected override async Task OnInitAsync()
    {
        await State.CheckIsLoggedIn();
    }


    protected override void OnParametersSet()
    {
        //userChanged = true;
        base.OnParametersSet();
        Console.WriteLine("State has change");
        StateHasChanged();
        //userChanged = false;
    }

}