@page "/all-authors"
@using PersonalLibrary.Shared

@inject HttpClient Http

<h1>All Authors</h1>
<p></p>

<p>
    <button class="btn btn-primary">
        <NavLink class="nav-link" href="form-author" Match=NavLinkMatch.All>
            Add Author
        </NavLink>
    </button>
</p>

@if (authors == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Author Name</th>
                <th>About Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in authors)
            {
                <tr>
                    <td><a href="#">@author.Name</a></td>
                    <td><a href="#">@author.About</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@functions {
/* ukazka, jak nastavit componente parametr: */
/*
[Parameter]
private string Title { get; set; }
*/

Author[] authors;
/*
 * Volani api server
 */
protected override async Task OnInitAsync()
{

    //books = await Http.GetJsonAsync<Book[]>("sample-data/books.json");

    authors = await Http.GetJsonAsync<Author[]>("api/mylibrary/getAuthors");
}
}
