@page "/"

<h1>Welcome in LiBlaz web application</h1>
<p>
    There, you can Sign in and manage your personal library. You can write your note of read books.
    If you have too many books, you can use this app to create an overview of what you have at home in the library,
    and you can always have this overview at your disposal.
</p>

<p>
    Unfortunately, this app is experimental and is not public to access. So do not be sad, you can learn programming and download the
    code of this app, and run it, edit it or whatever you want for your personal needs.
</p>
<p>
    Application repository: <a href="https://github.com/mayaleh/liblazor" target="_blank">GitHub (it's full of <span title="bugs" class="oi oi-bug"></span> )</a> <br />
    My website: <a href="http://www.mayaleh.cz" target="_blank">Mayaleh.cz</a>
</p>
<p>
    This is very important and interesting <a href="https://learn-blazor.com/architecture/view-logic-separation/" target="_blank">View and Logic</a>
</p>

