@page "/sign-in"
@using PersonalLibrary.Shared

@inject HttpClient Http

<div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3" placeholder="Email" bind="@Email" />
    </div>
</div>
<div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword3" placeholder="Password" bind="@Password" />
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-10">
        <button onclick="@SubmitSignIn" class="btn btn-primary">Sign in</button>
    </div>
</div>

@functions{

    public string Email = "";
    public string Password = "";

    // Todo InitAsynchLoad check if user is logged in, if is true redirect to homepage
    private async Task SubmitSignIn()
    {
        UserAccess userForm = new UserAccess
        {
            Email = Email,
            Password = Password
        };

        var response = await Http.PostJsonAsync<UserAccess>("/api/sign/in", userForm);
    }

}
