@inherits LayoutComponentBase

<nav>
    <NavMenu />
</nav>

<main role="main">
    <div class="main">
        <div class="content">
            @Body
        </div>
    </div>
</main>


<footer class="footer">
    <div class="separator"></div>
    <div class="container">
        <span class="text-muted">Developed by <a href="http://www.mayaleh.cz" target="_blank">Salim Mayaleh</a></span>
    </div>
    <div class="separator"></div>
</footer>